* {
    font-family: 'Work Sans',Arial, Helvetica, sans-serif;
  }

  p {
    font-size: 1em;
  }

  /* .container {
    width: 1040px;
    margin: 0 auto;
  } */
  .container {
    margin: 0 auto;
    max-width: 1200px;
    text-align: center;
  }

  #chart {
    width: 100%;
    text-align: center;
  }

  svg {
    max-height: 100vh;
  }

  svg text {
    font-size: 14px;
  }
  
  .ring svg text {
    font-size: 9px;
  }

  .x-axis text {
    transform: translateY(5px);
  }
  
  .y-axis text {
    transform: translateX(-5px);
  }

  #legend {
    margin-top: 50px
  }

  #legend svg {
    margin: 0 auto;
  }

  	/* Flex-Wrap Demo */

	.wrap-layout {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.wrap-layout > svg {
		width: 30%;
		margin: 10px;
	}