* {
    font-family: 'Work Sans',Arial, Helvetica, sans-serif;
  }

  p {
    font-size: 1em;
  }

  /* .container {
    width: 1040px;
    margin: 0 auto;
    text-align: center;
  } */
  /* .container {
    margin: 0 auto;
    max-width: 1200px;
    text-align: center;
  } */

  .container {
    width: 1040px;
    margin: 0 auto;
  }
  h1 {
    margin-bottom: 0px;
    text-align: center;
  }

  /* h3 {
    margin-bottom: 0px;
    padding-bottom: 10px;
  } */

  /* p {
    font-size: 16px;
    text-transform: none;
    max-width: 700px;
    text-align: left;
  } */

  p {
    font-size: 1em;
  }
  #chart {
    width: 100%;
    /* text-align: right; */
  }

  svg {
    max-height: 100vh;
  }

  svg text {
    font-size: 19px;
  }
  
  .ring svg text {
    font-size: 11.5px;
  }

  .loli svg text {
    font-size: 10px;
  }
  /* .x-axis text {
    transform: translateY(5px);
  }
  
  .y-axis text {
    transform: translateX(-5px);
  } */

  #legend {
    margin-top: 50px;
    margin-bottom: 50px
  }

  #legend svg {
    margin: 0 auto;
  }

  #legend svg text {
    font-size: 14px;
  }

  	/* Flex-Wrap Demo */

	/* .wrap-layout {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.wrap-layout > svg {
		width: 30%;
		margin: 10px;
	} */