* {
    font-family: 'Work Sans',Arial, Helvetica, sans-serif;
  }

  p {
    font-size: 1em;
  }


  .container {
    width: 1040px;
    margin: 0 auto;
  }
  h1 {
    margin-bottom: 0px;
    text-align: center;
  }

  h5 {
    text-align: right;
  }

  h3 {
    text-align: center;
  }


  p {
    font-size: 1em;
  }
  #chart {
    width: 100%;
  }

  svg {
    max-height: 100vh;
  }

  svg text {
    font-size: 14.5px;
  }
  
  .ring svg text {
    font-size: 11.5px;
  }

  .loli svg text {
    font-size: 10px;
  }

  #legend {
    margin-top: 50px;
    margin-bottom: 50px
  }

  #legend svg {
    margin: 0 auto;
  }

  #legend svg text {
    font-size: 14px;
  }
